node_modules
npm-debug.log
.npm
.env
.env.local
.env.production
.git
.gitignore
.DS_Store
README.md
tests
tmp/*
!tmp/.gitkeep
public/avatars/*
!public/avatars/.gitkeep
*.log
coverage
.vscode
.idea
.editorconfig
Dockerfile
docker-compose.yml
docker-compose.dev.yml
.dockerignore
